@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-font-smoothing: antialiased;
  --tw-bg-opacity: 1;
  background-color: rgb(247 247 247 / var(--tw-bg-opacity));
}


.news__container-card{
    container-type: inline-size;
}

@container(max-width: 280px) {
  .news__container-card_title{
    font-size: 0.7rem !important;
  }
}

@container(max-width: 200px) {
  .news__container-card_header{
    flex-direction: column !important;
  }
}
