@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-font-smoothing: antialiased;
  --tw-bg-opacity: 1;
  background-color: rgb(247 247 247 / var(--tw-bg-opacity));
}

.news__container-card {
  container-type: inline-size;
}

@container (max-width: 280px) {
  .news__container-card_title {
    font-size: 0.7rem !important;
  }
}

@container (max-width: 200px) {
  .news__container-card_header {
    flex-direction: column !important;
  }
}

@layer components {
  .flex-justify-between {
    @apply flex items-center justify-between;
  }
  .table-head {
    @apply font-medium text-sm leading-[16.94px] text-center;
  }
  .table-data {
    @apply font-normal text-sm;
  }
  .row-border {
    @apply border-b border-neutral-100 py-1.5;
  }
}
